<!-- section#noticias>.container -->
<section id="noticias" class="padded">
    <div class="container">
      <h2>Noticias</h2>
      <!-- .row -->
      <div class="row">
        <!-- .col*3>h3{Noticia $}+p*2>lorem40 -->
        <div class="col">
          <h3>Noticia 1</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptatem deleniti laborum reiciendis laudantium fuga mollitia autem debitis numquam ea cumque delectus provident, sapiente inventore earum. Tempora, atque iusto explicabo fugit officiis, nihil officia corporis magni consectetur beatae molestiae. Praesentium?</p>
          <p>Cumque qui unde nostrum totam asperiores, animi velit odio incidunt exercitationem delectus officiis pariatur mollitia eum at aut! Fugit soluta sapiente dolores sint consequatur. Laborum, ipsum sed at rerum sequi et possimus perferendis accusamus incidunt amet iste nam saepe odio.</p>
        </div>
        <div class="col">
          <h3>Noticia 2</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam aliquid eaque nemo consequuntur doloribus, ipsam molestias sunt veritatis maxime impedit optio dolorem nihil expedita voluptate temporibus perspiciatis omnis nostrum. Inventore magni modi autem eum reiciendis obcaecati, doloremque quisquam officiis quibusdam.</p>
          <p>Atque repudiandae quae reiciendis, corrupti itaque maxime veritatis voluptatibus consequatur! Dolor sunt illum at, velit eos cupiditate accusantium a nisi ducimus laboriosam veritatis hic iusto cum incidunt nam placeat. Et rem ducimus eius quisquam dolore quam, pariatur suscipit dolor ratione?</p>
        </div>
        <div class="col">
          <h3>Noticia 3</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quae, adipisci quasi ab distinctio blanditiis cumque possimus tempore. Nulla consequatur incidunt doloremque animi, voluptatum blanditiis consectetur provident. Vitae dolorem optio sint distinctio, vel cum quo iusto aspernatur quis, eos debitis?</p>
          <p>Sint officiis quas eos neque fugiat iste laborum dolorum odio sed? Quasi obcaecati, maxime voluptatum provident fugit fuga tenetur exercitationem atque? Rerum at harum illo maxime! Doloribus error quo iste id inventore! Ex, eveniet eius officiis porro laborum pariatur similique?</p>
        </div>
      </div>
    </div>
  </section>
