<!-- section#nosotros>.container -->
<section id="nosotros" class="padded">
    <div class="container">
        <h2>Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vitae voluptate nisi! Quam ut, dolorem
            optio deleniti harum facere pariatur. Fugiat voluptatum eveniet vel vitae ducimus quas error labore qui
            praesentium nostrum, aliquam unde ex est? Rem maiores error cupiditate amet illum iusto rerum aut aperiam
            deserunt esse nostrum facere laborum harum aliquam illo in ipsam doloribus, eligendi ut molestias. Eaque
            aliquid accusamus debitis ut omnis explicabo quos libero ab nam, similique fugit et recusandae sint quis!
            Nisi necessitatibus alias debitis corrupti ad vitae quibusdam modi odio. Animi, laborum dolores perspiciatis
            repudiandae quae eos fuga quaerat accusantium vero, tenetur distinctio harum porro tempore laudantium
            possimus molestias odit aspernatur natus voluptates ipsam numquam dicta voluptas molestiae et? Molestiae
            amet nihil consequatur?</p>
    </div>
</section>